# Dependencies
/node_modules
/backend/node_modules
/frontend/node_modules

# Lockfiles
/backend/package-lock.json
/package-lock.json
/frontend/package-lock.json

# Credentials
/backend/serviceAccountKey.json

# Logs
/server.log
/node_output.log

# Environment
/backend/.env